In [1]:
from glob import glob
from functools import reduce

import pandas as pd

In [2]:
BASE_PATH = "C:/BigData/alphabattle2.0/"

In [3]:
train_files = glob(BASE_PATH+"train_sample/*.parquet")
train_files

['C:/BigData/alphabattle2.0/train_sample\\part-00000-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00023-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00026-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00028-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00033-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00035-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00036-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00037-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00038-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00039-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00040-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00041-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00042-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00043-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00044-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00045-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00046-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00047-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00048-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet',
 'C:/BigData/alphabattle2.0/train_sample\\part-00049-bede0d9f-54ab-41bc-9000-4a77d84d2693-c000.snappy.parquet']

In [4]:
train_ds = reduce(lambda x, y: pd.concat([x, y], axis=0), map(pd.read_parquet, train_files))
train_ds.head()

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,...,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number,product,flag
0,392791,0.297589,1,2,102,8,1,1,3,1,...,18,2,2,11,359,52,-1,1,3,0
1,392791,0.294696,1,1,96,2,1,1,3,1,...,18,1,2,11,359,52,0,2,3,0
2,392791,0.366062,1,1,96,2,1,1,3,1,...,18,10,2,16,359,52,5,3,3,0
3,392791,0.271383,1,1,96,2,1,1,3,1,...,18,10,2,17,359,52,0,4,3,0
4,392791,0.273566,1,1,96,2,1,1,3,1,...,18,10,2,17,359,52,0,5,3,0

In [5]:
train_ds.shape

(1315417, 22)